@using Microsoft.AspNet.Identity
@using Fido.WebUI.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/layout.styles")
    @Scripts.Render("~/page.top.scripts")
    @RenderSection("styles", false)

    <meta name="description" content="Fido" />
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { Area = string.Empty })">FIDO</a>
            </div>

            <div class="navbar-collapse collapse navbar-right">
                @using (Html.BeginForm("Logout", "Authentication", new { Area = string.Empty }, FormMethod.Post, new { id = "LogoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav">
                        @if (Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Index", "AdHome", new { Area = "Administration" })"><i class="fa fa-2x fa-play-circle-o fa-fw"></i></a></li>
                        }

                        <li><a href="@Url.Action("Index", "Home", new { Area = string.Empty })">HOME</a></li>
                        <li>@Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "modal-link area=''" })</li>

                        <li class="dropdown">
                            @if (Request.IsAuthenticated)
                            {
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName().ToUpper()<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="@Url.Action("Update", "Profile", new { Area = "Account" })"><i class="fa fa-user fa-fw"></i> PROFILE</a></li>
                                    <li><a href="@Url.Action("Settings", "Account", new { Area = string.Empty })"><i class="fa fa-gear fa-fw"></i> SETTINGS</a></li>
                                    <li class="divider"></li>
                                    <li><a title="Logout" href="javascript:document.getElementById('LogoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></li>
                                </ul>
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Authentication", new { Area = string.Empty })">LOGIN</a>
                            }
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <h4>@ViewBag.Title</h4>
        </div>
    </div>

    <div id="service">
        <div class="container">

            <div class="row">
                <div @*class="col-md-12"*@>
                    @Html.Flash()
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About</h4>
                    <div class="hline-w"></div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Social Links</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="http://www.blacktie.co/demo/solid/#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="http://www.blacktie.co/demo/solid/#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="http://www.blacktie.co/demo/solid/#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="http://www.blacktie.co/demo/solid/#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="http://www.blacktie.co/demo/solid/#">
                            <i class="fa fa-tumblr"></i>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Our Bunker</h4>
                    <div class="hline-w"></div>
                    <p>
                        Some Ave, 987,<br>		 				23890, New York,<br>		 				United
                        States.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/page.bottom.scripts")
    @RenderSection("scripts", false)

    @* the modal dialog boxes are injected into the below div *@
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

</body>
</html>
