@model Fido.Action.Models.UserModel

@{
    ViewBag.Title = "Are you sure you want to delete this user record?";
}

@using (Html.BeginForm("Update", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="row">
            <div class="col-md-8">
            </div>
        </div>
    </div>

    <span class="skd-spacing"></span>

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("CreatedUtc", Model.CreatedUtc)
    @Html.Hidden("IsNew", Model.IsNew)
    @Html.Hidden("RowVersion", Model.RowVersion)

    <span class="skd-spacing-large"></span>

    <div class="row">
        <div class="col-xs-6 col-centered">
            <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save">
                <span><i class="fa fa-check"></i></span>
            </button>
        </div>
        <div class="col-xs-6 col-centered">
            <a href="@Url.Action("Delete", "User", "Administration")">
                <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
            </a>
        </div>
    </div>

    <span class="skd-spacing-large"></span>
}
