@model Fido.Action.Models.UserModel
@using Fido.WebUI.Extensions

<div class="modal-body">
    <div id="skd-modal-ajax-wrapper">

        <span class="skd-spacing-large"></span>
        <span class="skd-spacing-large"></span>

        <div class="row">
            <div class="col-lg-12">
                @Html.Flash()
            </div>
        </div>

        @using (Ajax.BeginForm("Delete", "User",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "skd-modal-ajax-wrapper"
            }))
        {
            @Html.AntiForgeryToken()

            <div class="row skd-row-sm-offset-1">
                <div class="col-sm-10">

                    Are you sure you want to delete the following user account? Use the buttons below to confirm or
                    to cancel.
                    <span class="skd-spacing"></span>

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @placeholder = "firstname", @value = "", @disabled = "true" })
                    </div>
                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "surname", @value = "", @disabled = "true" })
                    </div>
                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "email address", @value = "", @disabled = "true" })
                    </div>

                    @Html.HiddenFor(m => m.Id)

                    <span class="skd-spacing-large"></span>
                    <div class="col-xs-6 col-centered">
                        <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save" id="approve-btn">
                            <span><i class="fa fa-check"></i></span>
                        </button>
                    </div>
                    <div class="col-xs-6 col-centered">
                        <a href="@Url.Action("Index", "User")">
                            <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        }

        <span class="skd-spacing-large"></span>
        <span class="skd-spacing-large"></span>

    </div>
</div>
