@model Fido.ViewModel.Models.Account.SetLocalCredentialInitiate
@using Fido.Web.Extensions

<div id="skd-modal-ajax-wrapper">

    <div class="modal-header">
        <h2>Set Local Credentials</h2>
        <div class="row">
            <div class="col-xs-12">
                @Html.Flash()
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Create", "SetLocalCredentialInitiate",
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "skd-modal-ajax-wrapper"
        }))
    {
        @Html.AntiForgeryToken()
        
        <div class="modal-body">
            <div class="row skd-row-sm-offset-1">
                <div class="col-sm-10">

                    Site credentials will allow you to log into the site without using social logins. Please provide your email address
                    and password and you will be emailed a registration link to confirm your details.
                    <span class="skd-spacing"></span>

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "email address", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "confirm password", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-xs-6 col-centered">
                <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save" id="approve-btn">
                    <span><i class="fa fa-check"></i></span>
                </button>
            </div>
            <div class="col-xs-6 col-centered">
                <button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    }
</div>
