@model Fido.Action.Models.ChangePasswordModel

<div class="modal-body">
    <div id="skd-modal-ajax-wrapper">

        <span class="skd-spacing-large"></span>
        <span class="skd-spacing-large"></span>

        @using (Ajax.BeginForm("ChangePassword", "Account",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "skd-modal-ajax-wrapper",
                OnSuccess = "CheckState"
            }))
        {
            @Html.AntiForgeryToken()

            <div class="row skd-row-sm-offset-1">
                <div class="col-sm-10">

                    Complete the detail below and click on the ok button at the bottom of the screen to change
                    the password for
                    this account.
                    <span class="skd-spacing"></span>

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "current password", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "new password", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

                    <span class="skd-spacing"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "confirm password", @value = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                    @*if (Model != null) { <input type="hidden" id="InputState" name="InputState" value="@Model.InputState" /> }*@
                    @if (Model != null) { <input type="hidden" id="State" name="State" value="@Model.State" /> }
                                                                                           
                    <span class="skd-spacing-large"></span>
                    <div class="col-xs-6 col-centered">
                        <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save" id="approve-btn">
                            <span><i class="fa fa-check"></i></span>
                        </button>
                    </div>
                    <div class="col-xs-6 col-centered">
                        <a href="@Url.Action("Settings", "Account")">
                            <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        }

        <span class="skd-spacing-large"></span>
        <span class="skd-spacing-large"></span>

    </div>
</div>

<script type="text/javascript">
    function CheckState() {
        var SuccessPath = '@(Url.Action("Settings", "Account"))';

        if ($("#State").val() == 'Valid') {
            document.location = SuccessPath;
        }
    }
</script>

