@*@model Fido.Action.Models.ExternalCredentials

@if (Model.ExternalCredentials.Count > 0)
{
    <h4>Registered External Credentials</h4>
    <table class="table">
        <tbody>
            @foreach (var ExternalCredential in Model.ExternalCredentials)
            {
                <tr>
                    <td>@ExternalCredential.LoginProvider | @ExternalCredential.ProviderKey</td>
                    <td>
                        @if (Model.CredentialCount > 1)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    @Html.Hidden("LoginProvider", ExternalCredential.LoginProvider)
                                    @Html.Hidden("ProviderKey", ExternalCredential.ProviderKey)
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @ExternalCredential.LoginProvider login from your account" />
                                </div>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}*@
