@model Fido.ViewModel.Models.Administration.Configuration
@using Fido.ViewModel.Models

@{
    ViewBag.Title = "Update Configuration";
}

@using (Html.BeginForm("Update", "Configuration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("CreatedUtc", Model.CreatedUtc)
    @Html.Hidden("IsNew", Model.IsNew)
    @Html.Hidden("RowVersion", Model.RowVersion)

    <div class="well">
        @Html.Partial("ConfigurationForm", Model)
    </div>
}
