@*
    For reference, I used the below link to display the image out of the model. This may not be wise once you consider the lack of
    caching for the image, but this is only the "my account/profile" page, so not accessed a lot, I would assume.
    http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model

    Will use the below method in all other locations to ensure caching and best-practice.
    <img src="@Url.Action("Get", "ProfileImage", new { Id = Model.Id })" alt=@Model.FirstnameSurname class="center-block img-rounded img-responsive" />
*@

@model Fido.Action.Models.Profile

@{
    ViewBag.Title = "Account Profile";
}

@using (Html.BeginForm("Update", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("CreatedUtc", Model.CreatedUtc)
    @Html.Hidden("IsNew", Model.IsNew)
    @Html.Hidden("RowVersion", Model.RowVersion)

    <div class="row">
        <div class="col-md-3">
            <h4>Avatar</h4>
            <div class="hline"></div>

            <figure class="avatar">                    
                <img width="225" height="225" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt=@Model.FirstnameSurname class="center-block img-rounded img-responsive" />
            </figure>

            <p>
                <input type="file" name="Image" id="Image" class="center-block" />
            </p>
        </div>

        <div class="col-md-9">
            <h4>Details</h4>
            <div class="hline"></div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @placeholder = "first name", @value = "" })
            </div>
            @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "surname", @value = "" })
            </div>
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
                @Html.TextAreaFor(m => m.About, 6, 6, new { @class = "form-control", @placeholder = "about", @value = "" })
            </div>

            @if (@Model.CreatedAgeDays < 1)
            {
                <p>Account created within the last 24 hours</p>
            }
            else if (@Model.CreatedAgeDays < 2)
            {
                <p>Account created 1 day ago</p>
            }
            else
            {
                <p>Account created @Model.CreatedAgeDays days ago</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-centered control-button">
            <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save">
                <span><i class="fa fa-check"></i></span>
            </button>
        </div>
        <div class="col-xs-6 col-centered control-button">
            <a href="@Url.Action("Index", "Settings")">
                <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
            </a>
        </div>
    </div>
}
