@model Fido.Action.Models.ProfileVM

@{
    ViewBag.Title = "Account Profile";
}

@using (Html.BeginForm("Profile_", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src="@Url.Action("ProfileImage", "Account", new { UserId = Model.Id })" alt=@Model.FirstnameSurname class="center-block img-rounded img-responsive" />

                    <figcaption class="skd-rating">
                        <p class="text-center">
                            Rating
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star-o"></span>
                            </a>
                        </p>
                    </figcaption>
                </figure>
                <input type="file" name="Image" id="Image" class="center-block" />
            </div>

            <div class="col-md-8">
                <p class="skd-h3-heading">@Model.FirstnameSurname</p>

                <span class="skd-spacing"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @placeholder = "first name", @value = "" })
                </div>
                @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })

                <span class="skd-spacing"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "surname", @value = "" })
                </div>
                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })

                <span class="skd-spacing"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                    @Html.TextAreaFor(m => m.About, 6, 6, new { @class = "form-control", @placeholder = "about", @value = "" })
                </div>

                <p>
                    <span class="skd-spacing-large"></span>
                    <strong>Registered: </strong>

                    @if (@Model.RegisteredDays < 1)
                    {
                        <text>Within the last 24 hours</text>
                    }
                    else if (@Model.RegisteredDays < 2)
                    {
                        @Model.RegisteredDays<text> day ago</text>
                    }
                    else
                    {
                        @Model.RegisteredDays<text> days ago</text>
                    }

                </p>
            </div>
        </div>
    </div>

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("CreatedUtc", Model.CreatedUtc)
    @Html.Hidden("IsNew", Model.IsNew)
    @Html.Hidden("RowVersion", Model.RowVersion)

    <span class="skd-spacing-large"></span>

    <div class="row">
        <div class="col-xs-6 col-centered">
            <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save">
                <span><i class="fa fa-check"></i></span>
            </button>
        </div>
        <div class="col-xs-6 col-centered">
            <a href="@Url.Action("Profile_", "Account")">
                <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
            </a>
        </div>
    </div>

    <span class="skd-spacing-large"></span>
}
