@model Fido.Action.Models.Administration.Activity
    
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-gear"> @Html.LabelFor(m => m.Name)</i></span>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control disabled", @placeholder = "name", @value = "" })
        </div>
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-gear"> @Html.LabelFor(m => m.Area)</i></span>
            @Html.TextBoxFor(m => m.Area, new { @class = "form-control disabled", @placeholder = "name", @value = "" })
        </div>
        @Html.ValidationMessageFor(m => m.Area, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-gear"></i> @Html.LabelFor(m => m.Action)</span>
            @Html.TextBoxFor(m => m.Action, new { @class = "form-control disabled", @placeholder = "name", @value = "" })
        </div>
        @Html.ValidationMessageFor(m => m.Action, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Roles
    </div>

    <div class="col-xs-12">
        @Html.ListBoxFor(m => m.SelectedRoles, new SelectList(Model.AllRoles, "Id", "Name"), new { @class = "form-control chosen-select" })
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-centered">
        <button type="submit" class="btn btn-success btn-circle btn-lg" name="Cmd" value="Save">
            <span><i class="fa fa-check"></i></span>
        </button>
    </div>
    <div class="col-xs-6 col-centered">
        <a href="@Url.Action("Index", "Activity")">
            <span class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></span>
        </a>
    </div>
</div>

<span class="skd-spacing-large"></span>
