@model Fido.Action.Models.ActivityVM
@using Fido.Action.Models

@{
    ViewBag.Title = "Update Activity";
}

@using (Html.BeginForm("Update", "Activity", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("CreatedUtc", Model.CreatedUtc)
    @Html.Hidden("IsNew", Model.IsNew)
    @Html.Hidden("RowVersion", Model.RowVersion)

    <div class="well">
        @Html.Partial("ActivityForm", Model)
    </div>
}
